In [1]:
import os
import requests
import pandas as pd

In [2]:
trawlers = pd.read_csv('../raw_data/trawlers.csv')
trawlers.shape

(4369101, 10)

In [3]:
trawlers.head(3)

,mmsi,timestamp,distance_from_shore,distance_from_port,speed,course,lat,lon,is_fishing,source
0,1.252340e+12,1.325376e+09,0.0,0.0,0.0,153.0,52.458649,4.581200,-1.0,gfw
1,1.252340e+12,1.325378e+09,0.0,0.0,0.0,153.0,52.458668,4.581167,-1.0,gfw
2,1.252340e+12,1.325379e+09,0.0,0.0,0.0,153.0,52.458633,4.581183,-1.0,gfw

In [4]:
trawlers['mmsi'].nunique()

49

In [5]:
longlines = pd.read_csv('../raw_data/drifting_longlines.csv')
longlines.shape

(13968727, 10)

In [6]:
longlines.head(3)

,mmsi,timestamp,distance_from_shore,distance_from_port,speed,course,lat,lon,is_fishing,source
0,1.263956e+13,1.327137e+09,232994.281250,311748.65625,8.2,230.500000,14.865583,-26.853662,-1.0,dalhousie_longliner
1,1.263956e+13,1.327137e+09,233994.265625,312410.34375,7.3,238.399994,14.863870,-26.856800,-1.0,dalhousie_longliner
2,1.263956e+13,1.327137e+09,233994.265625,312410.34375,6.8,238.899994,14.861551,-26.860649,-1.0,dalhousie_longliner

In [7]:
longlines['mmsi'].nunique()

110

In [8]:
gear = pd.read_csv('../raw_data/fixed_gear.csv')
gear.shape

(1559137, 10)

In [9]:
gear.head(3)

,mmsi,timestamp,distance_from_shore,distance_from_port,speed,course,lat,lon,is_fishing,source
0,7.572519e+12,1.347664e+09,0.0,36054.625000,0.0,0.000000,42.798748,-8.944992,-1.0,gfw
1,7.572519e+12,1.348056e+09,0.0,36054.625000,0.0,0.000000,42.798717,-8.945075,-1.0,gfw
2,7.572519e+12,1.350409e+09,0.0,90970.296875,0.0,198.199997,43.106419,-9.215466,-1.0,gfw

In [10]:
gear['mmsi'].nunique()

36

In [11]:
pole = pd.read_csv('../raw_data/pole_and_line.csv')
pole.shape

(161315, 10)

In [12]:
pole.head(3)

,mmsi,timestamp,distance_from_shore,distance_from_port,speed,course,lat,lon,is_fishing,source
0,1.848346e+13,1.340882e+09,0.0,2236.013184,0.0,0.000000,28.967354,-13.537797,-1.0,gfw
1,1.848346e+13,1.340884e+09,0.0,2236.013184,0.0,125.199997,28.967373,-13.537838,-1.0,gfw
2,1.848346e+13,1.340885e+09,0.0,2236.013184,0.0,0.000000,28.967354,-13.537838,-1.0,gfw

In [13]:
pole['mmsi'].nunique()

6

In [14]:
seines = pd.read_csv('../raw_data/purse_seines.csv')
seines.shape

(1545323, 10)

In [15]:
seines.head(3)

,mmsi,timestamp,distance_from_shore,distance_from_port,speed,course,lat,lon,is_fishing,source
0,9.924005e+12,1.379601e+09,0.0,1414.178833,0.0,298.500000,8.861500,-79.668427,-1.0,false_positives
1,9.924005e+12,1.379602e+09,0.0,1414.178833,0.0,298.500000,8.861506,-79.668442,-1.0,false_positives
2,9.924005e+12,1.379604e+09,0.0,1414.178833,0.1,128.399994,8.861511,-79.668488,-1.0,false_positives

In [16]:
seines['mmsi'].nunique()

28

In [17]:
trollers = pd.read_csv('../raw_data/trollers.csv')
trollers.shape

(166243, 10)

In [18]:
trollers.head(3)

,mmsi,timestamp,distance_from_shore,distance_from_port,speed,course,lat,lon,is_fishing,source
0,7.652701e+13,1.337836e+09,0.0,3162.200195,0.0,0.000000,51.887592,4.356583,-1.0,gfw
1,7.652701e+13,1.338199e+09,0.0,4999.877441,0.0,0.000000,51.242130,4.403008,-1.0,gfw
2,7.652701e+13,1.343752e+09,0.0,66308.250000,8.6,292.200012,51.960873,5.196125,-1.0,gfw

In [19]:
trollers['mmsi'].nunique()

5

In [20]:
unknown = pd.read_csv('../raw_data/unknown.csv')
unknown.shape

(6811552, 10)

In [21]:
unknown.head(3)

,mmsi,timestamp,distance_from_shore,distance_from_port,speed,course,lat,lon,is_fishing,source
0,1.833071e+14,1.343786e+09,314242.1875,538727.93750,13.1,62.700001,2.230797,157.382812,-1.0,crowd_sourced
1,1.833071e+14,1.343786e+09,314242.1875,538727.93750,13.8,65.199997,2.232352,157.386047,-1.0,crowd_sourced
2,1.833071e+14,1.343792e+09,343947.9375,513526.09375,13.0,61.700001,2.410787,157.745605,-1.0,crowd_sourced

In [22]:
unknown['mmsi'].nunique()

120

In [23]:
list_dfs = [trawlers, longlines, gear, pole, seines, trollers, unknown]
df = pd.concat(list_dfs)
df.head(3)

,mmsi,timestamp,distance_from_shore,distance_from_port,speed,course,lat,lon,is_fishing,source
0,1.252340e+12,1.325376e+09,0.0,0.0,0.0,153.0,52.458649,4.581200,-1.0,gfw
1,1.252340e+12,1.325378e+09,0.0,0.0,0.0,153.0,52.458668,4.581167,-1.0,gfw
2,1.252340e+12,1.325379e+09,0.0,0.0,0.0,153.0,52.458633,4.581183,-1.0,gfw

In [24]:
df['mmsi'].nunique()

354

In [25]:
dups = df[df.duplicated() == True]
dups

Empty DataFrame
Columns: [mmsi, timestamp, distance_from_shore, distance_from_port, speed, course, lat, lon, is_fishing, source]
Index: []

In [26]:
df.shape

(28581398, 10)

In [34]:
from sklearn.preprocessing import OrdinalEncoder

# Instantiate the Ordinal Encoder
ordinal_encoder = OrdinalEncoder()

# Fit it
ordinal_encoder.fit(df[["source"]])

# Display the learned categories
display(ordinal_encoder.categories_)

# Transforming categories into ordered numbers
df["source"] = ordinal_encoder.transform(df[["source"]])

[array(['crowd_sourced', 'dalhousie_longliner', 'dalhousie_ps',
        'dalhousie_trawl', 'false_positives', 'gfw'], dtype=object)]

In [35]:
df.head(3)

,mmsi,timestamp,distance_from_shore,distance_from_port,speed,course,lat,lon,is_fishing,source
0,1.252340e+12,1.325376e+09,0.0,0.0,0.0,153.0,52.458649,4.581200,-1.0,5.0
1,1.252340e+12,1.325378e+09,0.0,0.0,0.0,153.0,52.458668,4.581167,-1.0,5.0
2,1.252340e+12,1.325379e+09,0.0,0.0,0.0,153.0,52.458633,4.581183,-1.0,5.0