# Using Sample data in API

In [1]:
import os
SERVICE_URL = os.environ.get("SERVICE_URL")
print(SERVICE_URL)

https://fishingclassification-hfis4rtnsq-ew.a.run.app

In [2]:
import requests


# Define the API endpoint URL
base_url = SERVICE_URL
endpoint = "/sample"

# Define the parameters
params = {
    "sample_request": "polie_and_line"
}

print( 'query :', f"{base_url}{endpoint}?sample_request=trawlers")
# Make the API request
response = requests.get(f"{base_url}{endpoint}", params=params)

# Check if the request was successful
if response.status_code == 200:
    data = response.json()
    print("API good to go")

else:
    print("API request failed with status code:", response.status_code)
    print("Error:", response.text)

query : https://fishingclassification-hfis4rtnsq-ew.a.run.app/sample?sample_request=trawlers
API good to go

In [3]:
from collections import Counter

Counter(data['is_fishing'])

Counter({0.0: 124825, 1.0: 9459})

In [5]:
import pandas as pd
df = pd.DataFrame(data)

In [6]:
df

,mmsi,distance_from_shore,distance_from_port,speed,course,lat,lon,month,day_of_week,hour_sin,hour_cos,is_fishing
0,1.252340e+12,0.00000,0.00000,0.0,153.0,52.458649,4.581200,1,6,0.000000,1.000000,0.0
1,1.252340e+12,0.00000,0.00000,0.0,153.0,52.458668,4.581167,1,6,0.000000,1.000000,0.0
2,1.252340e+12,0.00000,0.00000,0.0,153.0,52.458633,4.581183,1,6,0.000000,1.000000,0.0
3,1.252340e+12,0.00000,0.00000,0.0,153.0,52.458649,4.581234,1,6,0.000000,1.000000,0.0
4,1.252340e+12,0.00000,0.00000,0.0,153.0,52.458649,4.581183,1,6,0.258819,0.965926,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
134279,1.252340e+12,304723.53125,356193.43750,2.1,280.0,61.871132,-2.627517,11,2,-0.258819,0.965926,0.0
134280,1.252340e+12,302192.84375,354550.15625,4.4,314.0,61.870281,-2.592117,11,3,0.866025,0.500000,0.0
134281,1.252340e+12,311262.34375,364507.15625,4.2,220.0,61.908401,-2.606767,11,3,-0.866025,-0.500000,0.0
134282,1.252340e+12,302371.50000,360127.25000,3.7,257.0,61.926468,-2.435533,11,3,-0.965926,0.258819,0.0
134283,1.252340e+12,313017.87500,366861.53125,2.1,335.0,61.924168,-2.602383,11,3,-0.707107,0.707107,0.0